<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LaboratoryDBConnection" providerName="MySqlEf"
			connectionString="Server=localhost;Database=laboratory_2023;Uid=root;"/>
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
		<providers>
			<provider invariantName="MySqlEf"
				type="MySql.Data.MySqlClient.MySqlProviderServices, Pomelo.EntityFrameworkCore.MySql"/>
		</providers>
	</entityFramework>
</configuration>